body {
    margin: 50px 150px 0px 150px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.header-info {

    background-image: url(image/Banner\ Image.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    text-align: center;
    color: rgb(229, 255, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    opacity: .8;

}

/* 65% off */
.offer-section {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 150px 100px 150px;
    font-size: 40px;
    font-weight: 700;
}

.offer-section h1 {
    color: red;
}


/* mid night party */
.mid-night {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.midNightParty {
    background-image: url(image/Vectorrr.png);
    width: 1320px;
    height: 600px;
    text-align: center;
    color: rgb(229, 255, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 70px 140px;

}

.mid h1,
h3 {
    font-size: 3rem;
}



/* time date sectionssss */
.time-date {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;

}


.time-date-section {
    height: 482px;
    width: 1320px;
    /* border: 2px solid red; */
    border-radius: 15px;
    background-image: linear-gradient(#fadbdb, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.btn {
    background-color: #FF0000;
    border-radius: 8px;
    padding: 16px 32px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border: none;
}